/*----------General Settings----------*/

body
{
   background-color: #eee;
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   font-size: 12px;
   margin: 0px;
   font-weight:200;
}

.inline {
  display:inline;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #5f5f5f;
}

a:hover {
  color:#cc0000;
}

img
{
  border: none;
}

.centered-text {
  text-align:center;
}
.centered-text h1, .centered-text h2, .centered-text h3, .centered-text h4, .centered-text h5 {
  text-align: left;
}

h1, h2, h3, h4, legend
{
  /*text-transform: uppercase; */
  padding: 0px;
  margin-top:5px;
  margin-bottom: 5px;
  color: #191970;    /*midnight blue*/
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
}

h1
{
  font-size: 18px;
  font-weight:200;
  letter-spacing: 2px;
}

h2
{
  font-size: 14px;
}

h3
{
  font-size: 12px;
  font-weight:400;
}

h4, legend
{
  font-size: 11px;
}

p
{
  margin-top: 1em;
  margin-bottom: 1em;
}

input, textarea, select
{
   /*font-family: Verdana, sans-serif;*/
   font-size: 11px;
}

/*--------Main Layout (Header/Footer Referenced)-------*/
header {
  width:100%;
  height:125px;
  background:#fff;
  background-image:url(/images/px_by_Gre3g.png);
  border-bottom:2px solid #cc0000; /* #dfdfdf */
  margin-bottom: 20px;
  padding-top:50px;
  color:#fff;
  position:relative;
}
header h1, header h2, header h3, header h4, header h5, header a, header a:visited, header a:link {
  color:#fff;
}
header .locale-link {
  position:absolute;
  top:0;
  right:20px;
  background:#383838;
  padding:5px;
}
header .locale-link.side {
  top: auto;
  bottom:1px;
  right:0px;
}
header .locale-link a {
  color:#fff;
}
header .locale-link a:hover {
  color:#cc0000;
}

.mjlh-logo {
  background-image:url(/images/mjlh.png);
  background-repeat: no-repeat;
  background-size:contain;
  height:31px;
  width: 31px;
  display:inline-block;
  margin-right:5px;
  margin-bottom:-4px;
  margin-left:5px;
}

header h1 {
  margin-bottom:0px;
  text-transform: none;
  font-size:34px;
}

header h1.small {
  font-size:30px;
}

header nav {
  height:30px;
  position:relative;
}

header nav ul {
  height:100%;
}

header ul.nav li {
  display:inline-block;
}
header ul.nav li a {
  text-transform:uppercase;
  font-size:12px;
  height:30px;
}

header ul.nav .btn-group button.btn {
  background:none;
  height:20px;
  width:10px;
}
.nav>li>a {
  padding: 10px 12px;
}
.nav>li>a:hover, .nav>li>a.active {
  background:none;
  color: #cc0000;
  /* border-bottom:3px solid #cc0000; */
}
.header-card {
  margin-top: -10px;
  margin-bottom: -2px;
  padding-left:16px;
  z-index: 0;
  position: relative;
}
.header-card h1, .header-card h1 a {
  font-size: 36px;
  font-weight: 400;
  /*font-family:"Book Antiqua","Palatino-Linotype";*/
  color:#CA3434;
}
.card {
  background:#fff;
  margin:0 -10px 10px 0;
  width:100%;
  padding:20px 20px 15px 20px;
  border:1px solid #dfdfdf;
  overflow:hidden;
  z-index:1;
  position:relative;
}

.card img {
  max-width:100%;
  height:auto;
}

.card h2 {
  font-size:19px;
  line-height:25px;
  margin-top:2px;
  padding-left:5px;
  margin-left:-5px;
  margin-right:-5px;
  color:#444;
  width:100%;
  border-bottom:1px dotted #e5e5e5;
  padding-bottom:3px;
}

.card strong, .card b {
  font-weight:400;
}

.card h2 a {
  color:#444;
}

.card h2 .small {
  display:inline;
  font-weight:200;
  font-size:90%;
}

.card .author_stamp {
  color:#888;
}
.card h4 {
  font-size:14px;
  text-transform: uppercase;
}
.card .content h4 {
  font-size:18px;
}

.card .content {
  font-size:14px;
}
.card a.read_more {
  float:right;
  font-style: italic;
}
.card ul {
  list-style: none;
  margin-bottom:0;
}
.card ul li {
  margin-top:2px;
}
.card .card-share {
  font-size:16px;
  float:right;
}

.card-share a {
  font-size:22px;
  line-height: 16px;
  vertical-align: middle;
}

.card.search-card {
  padding:0;
  height:58px;
}

.card.full-page-card h2 {
  font-size: 23px;
  line-height: 33px;
  padding-bottom: 7px;
  margin-top: -3px;
}

.card.full-page-card .content {
  line-height: 24px;
  font-size: 16px;
}

.card.full-page-card p {
  margin-top:18px;
}

.card.volumes .content {
  margin-top:20px;
}

.card.volumes .about-article {
  margin-left:10px;
  margin-top:-15px;
}
.card.volumes .download-link {
  font-size:12px;
  margin-left:10px;
}

footer {
  /* set height at bottom of mjlh.css with sticky footer decl */
  background-color: #666666;
  border-top:1px solid #fff;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  overflow:hidden;
  color:#f5f5f5;
}

.footer-follow-me {
  font-size:37px;
  padding-top:13px;
  padding-left:5px;
}
footer a:link, footer a, footer a:visited, footer h3 {
  color:#f5f5f5;
}
footer a:hover {
  color:#ff6160;
}

footer ul {
  list-style: none;
  padding-left:10px;
}

footer .footer-shadow {
  width:200%;
  margin-top:-119px;
  height:130px;
  box-shadow: inset 0px 4px 50px #333;
}

#footer-inner
{
  padding: 5px 3px;
}

#header-inner, #footer-inner {
  height: 100%;
}

#header-inner
{
  padding-left:2px;
}

#languagelink
{
  position: absolute;
  top: 17px;
  right: 27px;
  font-size: 14px;
}

#bannertext
{
  position: absolute;
  top: 2px;
  left: 295px;
  font-size: 32pt;
  line-height: 115%;
  /*font-family: Palatino Linotype, Serif;*/
  letter-spacing:-0.3px
}

#menubar
{
 /* border: 1px solid red;*/
  position: absolute;
  top: 113px;
  left: 266px;
}

#volumedetails
{
  font-size: 10px;
  padding-left: 20px;
}
#volumedetails p
{
  padding-left: 30px;
}

#volumecontentscell
{
  width: 462px;
  padding-right: 30px;
  height:100%;
  font-size: 11px;
}
#commentsdiv, #blogcommentsdiv
{
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
  width: 430px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-top: 20px;
}

#commentsdiv
{
  width: 300px;
}

#commentsdiv p, #blogcommentsdiv p
{
  padding-left: 20px;
}

/*Home Page*/
#announcements
{
  float: left;
  border: 1px solid black;
  background: #DDDDDD;
  width: 470px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 15px;
  margin-top: 8px;
}
#announcements
{
  font-size: 12px;
  padding-right: 10px;
  width: 460px;
}

#announcements ul
{
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
  padding: 0px;
}
#announcements ul li
{
  padding-bottom: 10px;
}

#homevolume
{
  margin-left: 510px;
  border-left: 1px solid black;
  padding-left: 5px;
  font-size: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 500px;
}

#homecommentbox
{
  border: 1px solid #CCCCCC;
  margin: 5px;
  padding: 5px;
  padding-bottom: 0px;
  background:#EEEEEE;
}

#blogcontentscell h2
{
   text-transform: none;
   letter-spacing: 1px;
   /*font-family: Palatino Linotype, Serif;*/
   font-size: 22px;
}
#homeblogentry, #blogentrydiv
{
  font-size: 13px;
  line-height:140%;
}

/* Blog*/
#blogcontentscell
{
  padding-left: 15px;
  padding-right: 30px;

}

#blogcommentsdiv, #bloglistdiv
{
  width: 340px;


}

#blogcommentsdiv p
{
   padding-right: 8px;
}

#bloglistdiv
{
  border: 1px solid black;
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
}

#bloglistdiv p
{
  padding-bottom: 5px;
}

/* Backend Login Page */
#logindiv
{
  margin: 20px auto;
  width: 240px;
  background: white;
  border: 1px solid black;
  padding: 3px;
}

/*Switch volume menu css classes*/
a.sample_attach, a.sample_attach:visited
{
  display: block;
  margin: 0px;
  text-align: left;

/*  border:  1px solid black;*/
  padding: 2px 5px;

  background: #FFFFFF;


}
div.sample_attach
{

  text-decoration: none;
  color: #C0272C;
  font-weight:bold;
 /* text-align: right;*/
 margin-top: 9px;
 text-align: center;
  width: 170px;
  font-size: 11px;
}
#sample_attach_menu_child
{
  border: 1px solid black;
}
/* Backend Page */
#actiondiv
{
  width: 200px;
  background: white;
  border: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

#actiondiv ul
{
  padding-left: 20px;
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#container {overflow:auto;
  padding-bottom: 120px;}  /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* Twitter Widget Fix */
.twitter-timeline {
  width:100%;
}

/* paginator */
ul.pagination {
  width:63px;
  height:30px;
  display:block;
  margin: 15px auto 20px auto;
}

.reset-box-sizing,
.reset-box-sizing * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
