/* ######### Main Menu Bar CSS ######### */

.mjlhmenu ul{
margin: 0;
padding: 0;
font: 12px Arial;
list-style-type: none;
/*border-bottom: 1px solid gray;*/

overflow: hidden;
width: 100%;
}

.mjlhmenu li{
display: inline;
margin: 0;
}

.mjlhmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 5px 12px 3px; /*padding inside each tab*/
/*border-right: 1px solid white;*/ /*right divider between tabs*/
color: white;
/*background: #414141;*/
}

.mjlhmenu li a:visited{
color: white;
}

.mjlhmenu li a:hover{
color: black !important; /*background of tabs for hover state */
}

.mjlhmenu a.selected{
color: black !important; /*background of tab with "selected" class assigned to its LI */
}

/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle ul{ /*topmost and sub ULs, respectively*/
font: 12px Arial;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
border: 1px solid black;
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
}

.ddsubmenustyle li a{
display: block;
width: 120px; /*width of menu (not including side paddings)*/
color: white;
background-color: #b6292f;
text-decoration: none;
padding: 3px 5px;
border-bottom: 1px solid black;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{

color: black;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}